<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="CSS/style.css">
    <title>To do List</title>
  </head>
  <body>
    <header class= "middle">
    <div>
      <h1>My to Do List</h1>
        <input type="text" id="myList" placeholder="Enter..." /><button id="add">Add to list</submit>
    </div>
    <div class="toDoContainer">
      <ul class="toDoList"></ul>
    </div>
    <div>
    </header>
<span> Items Remaining <span class="remaining"></span> </span>
<button class= "trash"><i class="fas fa-trash"></i></button>
<button class= "clear"><i class="fas fa-check-square"></i></button>
    </div>
    <div>

    </div>
    <script src="Javascript/js.js"></script>
    <script src="https://kit.fontawesome.com/be26a7e74b.js" crossorigin="anonymous"></script>
  </body>
</html>
